*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#header{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    box-shadow: 1px 1px 1px black;
    padding: 24px;
}

#right-text{
    display: flex;
    gap: 24px;
}

#task-container{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    overflow: visible;
    justify-content: center;
    min-height: 600px;
    min-width: 600px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;

}

.task-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid black;
    height: 200px;
    width:  175px;
    background-color: white;
    border-radius: 10px;
}

.task-card:hover{
    transform: scale(1.05);
}

.task-card:hover .taskBtns{
    display: block;
}

.taskBtns{
    display: none;
}






.task-card-input{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid black;
    height: 400px;
    width:  300px;
    background-color: white;
    border-radius: 10px;
}

.task-card h1{
    font-size: 28px;
}

.task-card p{
    font-size: 14px;
}

#title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Title{ 
    margin: 50px;
}

#task-button{
    width: 125px;
}

#task-card-popup{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

input{
    border: 0px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    outline: none;
}

textarea{
    border: 0;
    height: 100%;
    resize: none;
    overflow: auto;
    outline: none;
}


